<section class="files-panel" *ngIf="!file">
	<table class="table">
		<thead>
			<tr>
				<th>&nbsp;</th>
				<th>Name</th>
				<th>Coverage</th>
				<th>Issues</th>
			</tr>
		</thead>
		<tbody>
			<tr *ngFor="#file of files">
				<td></td>
			    <td>
              <span class="file-link" *ngIf="!file.dir" (click)="showFile(file)" >{{file.path}}</span>
              <span class="dir-link" *ngIf="file.dir"><i class="fa fa-folder-open" *ngIf="file.dir === true"></i>{{file.path}}</span>
          </td>
				<td>{{file.coverage / 100 | percent}}</td>
				<td>{{file.issuesNo}}</td>
			</tr>
		</tbody>
	</table>
</section>

<section class="file-view" *ngIf="file">
    <div class="breadcrumbs">
        <span class="back">
            <button type="button" class="btn btn-primary" (click)="backToFiles()">
                <i class="fa fa-chevron-left"></i>
                Back to file list
            </button>
        </span>

        <span class="path">{{file.path}}</span>
    </div>
    <div class="file-content">
        <div class="file-line" *ngFor="#line of file.decodedContent; #i=index">
            <pre class="file-line-number">{{i+1}}</pre>
            <pre class="file-line-content">{{ line }}</pre>
        </div>
    </div>
</section>
