.issues-panel {
    width: 960px;
    margin: 20px auto;
}

.issue-card {
    border: solid 1px grey;
    line-height: 1.5rem;
    padding: 0.5rem;
    margin: 0.5rem;
}
.issue-card.error {
    border-color: red;
}
.issue-card.warning {
    border-color: orange;
}

.issue-card .linter {
    background-color: lavender;
    padding: 2px;
    color: hsla(240,67%,67%,1);
    border: solid 1px hsla(240,67%,60%,1);
    margin-right: 5px;
}

.issue-card .icon {
    display: inline-block;
    float: left;
    font-size: 2rem;
    line-height: 3rem;
    margin-right: 10px;
}

.issue-card .body {
    display: inline-block;
}

.issue-card .message {
    font-weight: bold;
}
.issue-card.error .message, .issue-card .icon {
    color: red;
}
.issue-card.warning .message, issue-card .icon {
    color: orange;
}
.issue-card .goto-link {
    display: inline-block;
    line-height: 2rem;
    float: right;
    font-size: 2.1rem;
    padding: 7px;
    border: solid 1px grey;
}