.linter-badge {
    text-transform: capitalize;
    background-color: lavender;
    color: hsla(240, 67%, 67%, 1);
    margin: 4px;
}

.linter-badge.done {
    background-color: green;
    color: white;
}

.linter-badge.inactive {
    background-color: #DADADA;
    color: grey;
}
