<h1 class="page-header">
  <div>
    {{ summary.repo }} #{{summary.no}}
  </div>
  <div>
    <small>Commit: {{summary.commitHash}}</small>
  </div>
</h1>

<div>
  <ul class="nav nav-tabs" role="tablist">
    <li role="presentation" [class.active]="tab === 'summary'" (click)="showSummary()">
      <a role="tab" (click)="showSummary()">Summary</a>
    </li>
    <li role="presentation" [class.active]="tab === 'issues'" (click)="showIssues()">
      <a role="tab" (click)="showIssues()">Issues</a>
    </li>
    <li role="presentation" [class.active]="tab === 'files'" (click)="showFiles()">
      <a role="tab" (click)="showFiles()">Files</a>
    </li>
    <li role="presentation" [class.active]="tab === 'builds'" (click)="showBuilds()">
      <a role="tab" (click)="showBuilds()">Builds</a>
    </li>
  </ul>

  <div class="tab-content">
    <summary-tab *ngIf="tab === 'summary'" [summary]="summary"></summary-tab>
    <issues-tab *ngIf="tab === 'issues'" [summary]="summary"></issues-tab>
    <files-tab *ngIf="tab === 'files'" [summary]="summary"></files-tab>
    <builds-tab *ngIf="tab === 'builds'" [summary]="summary"></builds-tab>
  </div>

</div>
