<h1 class="page-header">
  <div>
    {{ summary.repo }} #{{summary.no}}
  </div>
  <div>
    <small>Commit: {{summary.commitHash}}</small>
  </div>
</h1>

<nav class="tabs">
    <div class="tab summary-tab" [class.active]="tab === 'summary'" (click)="showSummary()">
        Summary
    </div>
    <div class="tab issues-tab" [class.active]="tab === 'issues'" (click)="showIssues()">
        Issues
    </div>
    <div class="tab files-tab" [class.active]="tab === 'files'" (click)="showFiles()">
        Files
    </div>
</nav>

<div>
    <summary-tab *ngIf="tab === 'summary'" [summary]="summary"></summary-tab>
    <issues-tab *ngIf="tab === 'issues'"></issues-tab>
    <files-tab *ngIf="tab === 'files'"></files-tab>
</div>
