<section class="files-panel" *ngIf="!file">
	<table class="table">
		<thead>
			<tr>
				<th>&nbsp;</th>
				<th>Name</th>
				<th>Coverage</th>
				<th>Issues</th>
			</tr>
		</thead>
		<tbody>
			<tr *ngFor="#file of files">
				<td><i class="fa fa-folder-open" *ngIf="file.dir === true"></i></td>
			    <td>
              <span class="file-link" *ngIf="!file.dir" (click)="showFile(file)" >{{file.path}}</span>
              <span class="dir-link" *ngIf="file.dir">{{file.path}}</span>
          </td>
				<td>{{file.coverage / 100 | percent}}</td>
				<td>{{file.issuesNo}}</td>
			</tr>
		</tbody>
	</table>
</section>

<section class="file-view" *ngIf="file">
    <div class="breadcrumbs">
        <span class="back">
            <button type="button" class="btn btn-primary" (click)="backToFiles()">
                <i class="fa fa-chevron-left"></i>
                Back to file list
            </button>
        </span>

        <span class="path">{{file.path}}</span>
    </div>
    <div class="file-content">
        <div class="file-line"
             *ngFor="#line of file.decodedContent; #i=index"
             [style.margin-bottom]="50 * getLineIssues(i).length+'px'"
        >
            <pre class="file-line-number">{{i+1}}</pre>
            <pre class="file-line-content">{{ line }}</pre>
            <div *ngIf="getLineIssues(i).length">
                <section class="issues-panel">
	                  <table class="table">
		                    <tbody>
			                      <tr *ngFor="#issue of getLineIssues(i)"
                                [class.warning]="issue.severity === 'warning'"
                                [class.danger]="issue.severity === 'error'">
				                        <td class="linter-cell">{{issue.linter}}</td>
				                        <td class="locaion-cell">{{issue.path}}#{{issue.line}}:{{issue.col}}</td>
				                        <td class="message-cell">{{issue.message}}</td>
			                      </tr>
		                    </tbody>
	                  </table>
                </section>
            </div>
        </div>
    </div>
</section>
