<div class="dashboard">
    <div class="widget score-widget"
         [class.good]="summary.score>80"
         [class.average]="summary.score<=80 && summary.score>60"
         [class.bad]="summary.score<=60">
        <div class="title">
            Quality Score
        </div>
        <div id="score-chart"></div>
    </div>

    <div class="widget tests-widget">
        <div class="title">
            Tests Coverage
        </div>
        <div class="test-coverage">
            {{summary.coverage / 100 | percent}}
        </div>
        <div class="test-details">
            <div class="passing">Passing: {{summary.passedNo}}</div>
            <div class="failing" *ngIf="summary.failedNo">Failing: {{summary.failedNo}}</div>
            <div class="total">Total: {{summary.testsNo}}</div>
        </div>
    </div>

    <div class="widget debt-widget">
        <div class="title">
            Technical Debt
        </div>
        <div class="monetary-debt">
            <i class="fa fa-clock-o"></i>&nbsp;{{summary.technicalDeptTime}}
        </div>
        <div class="time-debt">
            <i class="fa fa-usd"></i>&nbsp;{{summary.technicalDeptCost}}
        </div>
    </div>
    <div class="widget issues-widget">
        <div class="title">
            Issues
        </div>
      <div class="issues-details">
        <div class="total">Number of issues: {{summary.issuesNo}}</div>
        <div class="errors">Number of errors: {{summary.errorsNo}}</div>
        <div class="warnings">Number of warnings: {{summary.warningsNo}}</div>
      </div>
    </div>

    <div class="widget linters-widget">
        <div class="title">
            Linters
        </div>
        <div class="badge linter-badge" *ngFor="#l of lintersList" [class.active]="l.ran">
            <a target="_blank" href="{{l.link}}">{{l.name}}</a>
        </div>
    </div>
</div>
